<main class="main-content">
  <header class="content-header">
    <h1>Mon Inventaire</h1>
    <button class="btn-add" routerLink="/produit-add">+ Ajouter un produit</button>
  </header>

  <div class="liste-wrapper">
    <div class="table-header">
      <div class="column-header id">ID</div>
      <div class="column-header name">Nom du Produit</div>
      <div class="column-header">Prix</div>
      <div class="column-header">Quantité</div>
      <div class="column-header">Actions</div>
    </div>

    @if (loading) {
      <div class="enChargement">
        <span class="loader"></span>
        Chargement des produits...
      </div>
    }

    <ul class="liste">
      @for (produit of produits; track produit.id; let i = $index) {
        <app-produit-item-div [produit]="produit"></app-produit-item-div>
      }
    </ul>
  </div>

  <footer class="footer">Le footer de la page &copy; 2026</footer>
</main>
